<link rel="stylesheet" href="/Css/portfolio.css" />
    <title>Portfolio</title>
    <main>
      <section id="yo" class="banner">
        <div class="container-banner">
          <h3>Bienvenidos</h3>
          <p>Soy <span>Agustin Haag,</span> Desarrollador web</p>
          <p>Los invito a conocer un poco sobre mi</p>
          <a href="https://github.com/Agustinhaag">PORTAFOLIO</a>
        </div>
      </section>
      <section id="info" class="info">
        <div class="perfil"><img src="/file/perfil2.png" alt="" /></div>
        <div class="container-info">
          <h3>Sobre mi</h3>
          <p>Hola, soy <label>Agustin Haag</label></p>
          <p>Software developer</p>
          <p>
            Soy <span>FullStack developer Jr</span> y me encuentro finalizando
            la Tecnicatura superior en programación. Poseo conocimientos en
            lenguajes como Javascript, NodeJs, React, Html, Css, Sql; además
            buen manejo de Apis y Json, Boostrap, responsive design, etc. Me
            considero una persona proactiva, responsable y ofrezco toda mi
            predisposición para los desafios que se me presenten. Si quieren
            saber mas los invito a ver mi CV, saludos!.
          </p>
          <div class="container-btn-info">
            <a href="file/AGUSTIN HAAG-NUEVO.pdf.pdf" download="CV Agustin Haag"
              >Descargar CV</a
            >
          </div>
        </div>
      </section>
      <section id="servicio" class="services">
        <h2>MIS SERVICIOS</h2>
        <div class="container-services">
          <div class="primero">
            <div class="icon"><i class="fa-solid fa-code"></i></div>
            <h4>Diseño de sitios web</h4>
            <span></span>
            <p>Html - Css - Javascript - Git - Github</p>
            <p>FrontEnd</p>
            <p>
              Elaboración de webs dinamicas o estaticas, 100% responsive y
              adaptable
            </p>
          </div>
          <div class="primero">
            <div class="icon"><i class="fa-brands fa-js"></i></div>
            <h4>Manejo de Javascript/NodeJs</h4>
            <span></span>
            <p>React - Json - Express</p>
            <p>FullStack</p>
            <p>Manejo de Javascript del lado del cliente y el servidor</p>
          </div>
          <div class="primero">
            <div class="icon"><i class="fa-brands fa-node"></i></div>
            <h4>Administracion del servidor</h4>
            <span></span>
            <p>NodeJS - Express - Postman - Apis Rest - NPM</p>
            <p>BackEnd</p>
            <p>Operar con Apis, asincronia y manejo del servidor</p>
          </div>
          <div class="primero">
            <div class="icon"><i class="fa-solid fa-user-check"></i></div>
            <h4>habilidades Blandas</h4>
            <span></span>
            <p>Desarrollo personal</p>
            <p>Trabajo en equipo - Adaptabilidad - Responsabilidad</p>
            <p>Aptitudes y actitudes que promueven un buen desempeño</p>
          </div>
          <div class="primero">
            <div class="icon"><i class="fa-solid fa-database"></i></div>
            <h4>Manejo de Base de datos</h4>
            <span></span>
            <p>SQL</p>
            <p>PostgreSQL - MariaDB - MySQL</p>
            <p>Operación con bases relacionales</p>
          </div>
          <div class="primero">
            <div class="icon">
              <i class="fa-solid fa-mobile-screen-button"></i>
            </div>
            <h4>Diseño responsive</h4>
            <span></span>
            <p>CSS</p>
            <p>Flex - Grid - Boostrap</p>
            <p>Diseño totalmente adaptable a cualquier dispositivo</p>
          </div>
        </div>
      </section>
      <section id="skill" class="habilidades">
        <h2>HABILIDADES</h2>
        <div class="container-skill">
          <div class="container-hab">
            <div class="skill">
              <p><span class="lista"></span>Html & Css</p>
              <span class="porcentaje">90%</span>
            </div>
            <div class="barra">
              <div id="html" class=""></div>
            </div>
          </div>
          <div class="container-hab">
            <div class="skill">
              <p><span class="lista"></span>Javascript</p>
              <span class="porcentaje">85%</span>
            </div>
            <div class="barra">
              <div id="js" class=""></div>
            </div>
          </div>
          <div class="container-hab">
            <div class="skill">
              <p><span class="lista"></span>Base de datos</p>
              <span class="porcentaje">85%</span>
            </div>
            <div class="barra">
              <div id="db" class=""></div>
            </div>
          </div>
          <div class="container-hab">
            <div class="skill">
              <p><span class="lista"></span>NodeJs y Express</p>
              <span class="porcentaje">70%</span>
            </div>
            <div class="barra">
              <div id="node" class=""></div>
            </div>
          </div>
        </div>
      </section>
      <section id="proyect" class="proyects">
        <h2>PROYECTOS</h2>
        <div class="contenedor-indicadores">
          <div class="indicadores"></div>
        </div>
        <div class="contenedor-principal">
          <button id="flecha-izquierda" class="flecha-izquierda">
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <div class="contenedor-carrusel">
            <div id="container-proyect" class="container-proyect"></div>
          </div>
          <button id="flecha-derecha" class="flecha-derecha">
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </section>
      <section id="contact" class="form">
        <h2>Contacta conmigo</h2>
        <form id="form" action="/" method="post">
          <div class="container-input">
            <div class="container-small">
              <input
                type="text"
                id="name"
                name="name"
                 class="form-control <%= errors && errors.find(error => error.path === 'name') ? 'is-invalid' : '' %>"
                value="<%=values.name%>"
                placeholder="Nombre completo *"
              />
                <% if (typeof errors !== "undefined") { %>
                                <% const nameError = errors.find(error => error.path === 'name'); %>
                                <div class="textarea-error-msg">
                                   <%= nameError ? nameError.msg : '' %>
                                </div>
                            <% } %>
            </div>
            <div class="container-small">
              <input
                type="email"
                id="email"
                name="email"
                 class="form-control <%= errors && errors.find(error => error.path === 'email') ? 'is-invalid' : '' %>"
                 value="<%=values.email%>"
                placeholder="Dirección de Email"
              />
                <% if (typeof errors !== "undefined") { %>
                                <% const emailError = errors.find(error => error.path === 'email'); %>
                                <div class="invalid-feedback">
                                   <%= emailError ? emailError.msg : '' %>
                                </div>
                            <% } %>
            </div>
          </div>
          <div class="container-check">
            <input
              type="text"
              id="asunto"
              name="asunto"
               class="form-control <%= errors && errors.find(error => error.path === 'asunto') ? 'is-invalid' : '' %>"
               value="<%=values.asunto%>"
              placeholder="Asunto"
            />
              <% if (typeof errors !== "undefined") { %>
                                <% const asuntoError = errors.find(error => error.path === 'asunto'); %>
                                <div class="invalid-feedback">
                                   <%= asuntoError ? asuntoError.msg : '' %>
                                </div>
                            <% } %>
          </div>
          <div class="container-check">
            <textarea
              name="message"
              placeholder="Mensaje"
              id="mensaje"
               class="form-control <%= errors && errors.find(error => error.path === 'message') ? 'is-invalid' : '' %>"
              cols="30"
              rows="10"
            ><%=values.message%></textarea>
              <% if (typeof errors !== "undefined") { %>
                                <% const messageError = errors.find(error => error.path === 'message'); %>
                                <div class="textarea-error-msg">
                                   <%= messageError ? messageError.msg : '' %>
                                </div>
                            <% } %>
          </div>
          <div class="container-btn-form">
            <button type="submit">Enviar</button>
          </div>
        </form>
      </section>
    </main>
  <script defer src="/Js/index.js" type="module"></script>